//import Noto Sans sans-seriff font
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat&display=swap');
//import react-bootstrap
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

